<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Firmen</title>
  </head>
  <body>
    <p>
      Current: {{current_firma_id}}
    </p>
    <ul>
      {% for firma in firmen %}
        <li>
          <a href='/take_over/company/{{ firma.id }}'>Take Over</a>
          <table>
            <tr>
              <td>id</td>
              <td>{{ firma.id }}</td>
            </tr>
            <tr>
              <td>name</td>
              <td>{{ firma.name }}</td>
            </tr>
            <tr>
              <td>email</td>
              <td>{{ firma.email }}</td>
            </tr>
          </table>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
