{% extends "_base.html" %}
{% load static %}

{% block title %}Jobprofil{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "company_and_job.css" %}">
{% endblock %}
{% block content %}
<div class="container" >
<h1>Job</h1>

<div class="Container_oben">

    <div class="Infos_U">
        <p><span>Tätigkeit:</span> {{job.title}}</p>
        <p><span>Firma:</span> {{job.company_name}}</p>
        <p><span>Von:</span>{{job.start_date}}</p>
        <p><span>Bis:</span>{{job.end_date}}</p>
        <p><span>Adresse:</span>{{job.address}}</p>
     <a target="_blank" href="http://maps.google.com/?q=addresse CODE Education, GmbH Rheinsberger Str. 76/77, D-10115 Berlin"></a>
    </div>
</div>

<h2>Beschreibung zum Job</h2>
<div class="Text">
    <p><span> Mindestalter: </span>{{job.min_age}} </p>
    <p><span> Startzeit:</span>{{job.start_time}}</p>
    <p><span> Endzeit:</span>{{job.end_time}} </p>
    <p><span> Verdienst pro Stunde:</span>{{job.income_per_hour}} </p>
    <p><span> Anforderungen:</span>{{job.requirements}} </p>
</div>


    <div class="Text">
    <p> {{job.description}}</p>

</div>

<h3>Dein Ansprechpatner</h3>

<div class="Container_A_unten">
    <div class="ansprechpatner__left">
        <img class="Ansprechpatner" src="{{job.contact_image_url}}" width="200px">

        <button class="button">Jetzt Kontaktieren!</button>
    </div>
    <div class="infos_A">
        <p><span> Vorname:</span>{{job.first_name}} </p>
        <p><span> Nachname:</span>{{job.last_name}} </p>
        <p>
          <span> Homepage der Firma:</span>
          <a href="{{job.homepage}}">{{job.homepage}}</a>
        </p>

        <p>
          <span> Telefonnummer:</span>
          <a href="tel:{{job.contact_telephone_number}}">{{job.contact_telephone_number}}</a>
        </p>

        <p>
          <span> E-Mail:</span>
          <a href="mailto:{{job.contact_email}}">{{job.contact_email}}</a>
          <br>
        </p>
     </div>
</div>
{% endblock %}
