{% extends "_base.html" %}
{% load static %}

{% block title %}Suche{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static "landing_page.css" %}">
{% endblock %}

{% block content %}
  <div class="hero" style="background-image: url('{% static "landscape.jpg" %}')">
    <div class="hero__overlay"></div>
    <div class="hero__center">
      <h1>Ferien Jobs</h1>
      <h2>Suche dir jetzt aus 200 Ferien Jobs deinen richtigen aus!</h2>
    </div>
  </div>
  <div class="container">
    <div class="description__container">
      <div class="description__text">
        <h3>Von jungen Leuten für junge Leute</h3>
        <p>
          Du willst feiern, shoppen und deinen Führerschein machen.
          Doch weißt nicht wie du es finanzieren sollst?
          Hier ist deine persönliche Lösung, finde mit uns deinen perfekten Ferienjob.
        </p>
        <a href="/add/profile">Registriere dich</a>
      </div>
      <img src='{% static "young_people.min.jpg" %}' />
    </div>
    <div class="description__container">
      <img src='{% static "shake_hands.jpeg" %}' />
      <div class="description__text">
        <h3>Verknüpft Unternehmen mit jungen Leuten</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
        </p>
        <a href="/add/firma">Registriere deine Firma</a>
      </div>
    </div>

    <h3 class="jobs__title">Jobs in deiner Nähe</h3>
    <div class="jobs">
      {% for job in jobs %}
        <a class="job" href="/job/1">
          <!-- <p class="job__title">{{ job.title }}</p>
          <p class="job__company">{{ job.company }}</p> -->
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
